{
  "plugins": [
    ["transform-class-properties", { "loose": true }],
    "transform-object-rest-spread"
  ],
  "presets": [
    ["es2015", { "loose": true, "modules": false }],
    "react"
  ],
  "env": {
    "cjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },
    "rollup": {
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
