{
  "plugins": [
    ["transform-class-properties", { "loose": true }],
    "transform-object-rest-spread",
    "transform-runtime"
  ],
  "presets": [
    ["env", { "loose": true, "modules": false }],
    "react"
  ],
  "env": {
    "cjs": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
