{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
  },
  "globals": {
    "sinon": true
  },
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": ["error", "never"],
    "no-use-before-define": ["error", { "functions": false }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-underscore-dangle": [0],
    "no-confusing-arrow": [0],
    "no-class-assign": [0],
    "max-len": ["error", { "ignorePattern": "^test", "ignoreUrls": true }],
    "import/no-unresolved": [0],
    "react/prop-types": [0],
    "react/prefer-stateless-function": [0],
    "react/no-multi-comp": [0],
    "react/sort-comp": [0]
  }
}
